.scroll-container {
    height: calc(100vh - 30px);
    /* Cała wysokość ekranu */
    scroll-snap-type: y mandatory;
    /* Wymusza płynne przewijanie w osi Y */
    overflow-y: scroll;
    /* Umożliwia przewijanie */
    transition: background-color 0.3s ease-in-out;
    margin: 30px;
    border-radius: 8px;
}

.snap-section {
    height: calc(100vh - 30px);
    /* Każda sekcja zajmuje cały ekran */
    scroll-snap-align: start;
    /* Sekcje przyklejają się do początku */
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.name {
    color:#2ca9bc;
}

.arrow-down {
    height: 20px;
    width: 20px;
}

ul::before {
    content:attr(aria-label);
    font-size:120%;
    font-weight:bold;
    margin-left:-32px;
}

.first-section {
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
}

.credentials {
    width: 100%;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
}

.title {
    font-weight: bold;
}

.looking-for .title {
    margin-right: 3px;
}

.profile-pic {
    width: auto;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.looking-for {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.second-section {
    display: flex;
    flex-direction: column;
}

.description .title {
    margin-right: 3px;
}

.tag {
    display: inline-block; /* Umożliwia tagom zajmowanie miejsca tylko na niezbędną szerokość */
    padding: 5px 5px; /* Odsunięcie wewnętrzne */
    border-radius: 15px; /* Zaokrąglenie rogów */
    font-size: 20px; /* Rozmiar czcionki */
    color: #2ca9bc; /* Kolor tekstu */
    cursor: pointer; /* Wskazanie, że tagi są interaktywne */
    border: 2px solid #2ca9bc; /* Ustal obramowanie jako szare, nieprzezroczyste */
    height: fit-content;
}

.tags-container {
    display: flex; /* Umożliwia ułożenie elementów w linii */
    flex-wrap: wrap; /* Pozwala na zawijanie tagów w nowy wiersz, jeśli nie ma wystarczająco dużo miejsca */
    gap: 5px; /* Odstęp między tagami */
    padding: 10px; /* Odsunięcie wewnętrzne od krawędzi kontenera */
    border: 1px solid #ccc; /* Opcjonalne: obramowanie kontenera */
    border-radius: 10px; /* Opcjonalne: zaokrąglenie rogów kontenera */
    background-color: #f8f9fa; /* Opcjonalne: kolor tła kontenera */
    width: auto; /* Ustaw szerokość kontenera na 80% rodzica */
    margin: 0 auto; /* Centruje kontener w poziomie */
    height: auto;
}