.scroll-container {
    height: calc(100vh - 30px);
    /* Cała wysokość ekranu */
    scroll-snap-type: y mandatory;
    /* Wymusza płynne przewijanie w osi Y */
    overflow-y: scroll;
    /* Umożliwia przewijanie */
    margin: 30px;
    border-radius: 8px;
    transition: transform 15s;
    font-size: 20px;
    transform-origin: bottom;
}

.snap-section {
    min-height: calc(100vh - 130px);
    /* Każda sekcja zajmuje cały ekran */
    scroll-snap-align: start;
    /* Sekcje przyklejają się do początku */
    display: flex;
    padding: 20px;
    box-sizing: border-box;
}

.name {
    color:#2ca9bc;
}

.arrow-down {
    position: absolute;
    bottom: 5px;
    height: 20px;
    width: 20px;
}

.summary {
    align-self: flex-start;
}

.first-section {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1px;
    align-items: center;
}

.credentials-card {
    width: 100%;
    font-size: 40px;
    text-align: left;
    font-weight: bold;
}

.title {
    font-weight: bold;
    margin-right: 3px;
}

.looking-for .title {
    margin-right: 3px;
}

.profile-pic {
    width: calc(100% - 60px);
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.looking-for {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.second-section {
    display: flex;
    flex-direction: column;
}

.description .title {
    margin-right: 3px;
}

.deny-icon {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 10%;
    right: 45%;
    transition: ease-in 0.3px;
}

.match-icon {
    position: absolute;
    height: 50px;
    width: 50px;
    bottom: 10%;
    right: 45%;
    transition: ease-in 0.3px;
}